@font-face {
  font-family: newFont;
  src: url(../fonts/Heading-Now-Variable.ttf);
}
nav {
  height: 100px;
  border-bottom: 2px solid white;
}
nav ul li {
  color: white;
  font-size: 24px;
}
#page1 h1 {
  font-size: 75px;
  font-family: sans-serif;
  line-height: 70px;
  color: white;
}
body {
  background-color: black;
  overflow-x: hidden;
}
#scrollHeading {
  font-size: 400px;
  font-weight: 700;
  font-stretch: 350%;
  line-height: 200px;
  font-family: newFont;
  color: white;
  white-space: nowrap;
}
